<div class="bkg">
  <div class="container">
    <div class="row bg-dark text-light p-5">
      <div class="col-12">
        <h1 class="display-4 mb-4"><u>Your journey, our priority</u></h1>
        <p class="text-center lead mb-4">
          At <strong class="txt">Deluxe Transfers Spain</strong>, we offer an exclusive private transportation service, designed for those seeking comfort, safety, and personalized attention. Whether for a special event, airport transfers, or any other destination, our team is committed to providing you with a unique experience.
        </p>
        <p class="text-center mb-4"> <u>  <!-- Centramos el texto aquí -->
          With high-end vehicles and highly trained drivers, we guarantee punctuality and flawless service on every trip. Our goal is to make your journey an enjoyable part of your day, allowing you to relax or make productive use of your time while we take care of everything else.
       </u> </p>
        <p class="text-center lead mb-0">
          Are you ready to enjoy the comfort of a premium service? <br><strong class="txt">Contact us</strong> today to book your exclusive transfer.
        </p>
      </div>
    </div>
  </div>
</div>
